# Dependency directories
node_modules/

# Environment variables (Şifreleriniz ve bağlantı linkleriniz)
.env

# Logs
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# Uploaded files (videos, large files)
backend/uploads/videos/
backend/uploads/*.mp4
backend/uploads/*.webm
backend/uploads/*.ogg